@model List<Category>
<ul>
<li class="bor18">
    @foreach (var item in Model)
    {
        <a href="" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
            @item.category_name
        </a>
    }
</li>
</ul>